@import url(./fields/index.css);
form {
  margin-top: 48px;
}

fieldset {
  border: none;
  display: grid;
  gap: 24px;
}

legend {
  font: var(--text-sm);
  margin-bottom: 24px;
}

fieldset + fieldset {
  margin-top: 48px;
}

.actions-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 16px;
}
