#app {
  display: grid;
  grid-template-columns: 48.75% 51.25%;
  grid-template-areas: "main aside";
  height: 100vh;
}

main {
  grid-area: main;
  overflow: auto;
  padding: 64px;

  & .main-container {
    max-width: 100%;
    margin-left: auto;
  }

  & .back {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
  }

  & h2 {
    font: var(--subtitle);
    margin-bottom: 8px;
  }
}

aside {
  grid-area: aside;
  background-color: var(--surface-secondary);
  padding: 64px;

  & .aside-container {
    max-width: 100%;

    & > img {
      max-width: 100%;
      margin-top: 32px;
    }
  }

  & h1 {
    font: var(--title);
    margin-bottom: 8px;

    & span {
      color: var(--text-highlight);
    }
  }
}

@media (width <= 800px) {
  #app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "aside"
      "main";
    height: auto;
  }

  main,
  aside {
    overflow: auto;
  }
}
