.actions-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

button {
  all: unset;
  font-weight: 500;
  color: var(--text-highlight);
  padding: 12px 24px;
  border-radius: 8px;
  cursor: pointer;

  &.btn-primary {
    color: var(--surface-primary);
    background-color: var(--brand-dark);

    &:hover,
    &:focus {
      background-color: var(--brand-mid);
    }
  }

  &.btn-secondary {
    border: 1px solid var(--text-highlight);

    &:hover,
    &:focus {
      color: var(--brand-dark);
      outline: 4px solid var(--surface-secondary);
    }
  }
}

@media (width <= 420px) {
  .actions-wrapper {
    display: flex;
    flex-direction: column;
  }
}
