.terms-wrapper {
  margin-top: 48px;
  display: flex;
  gap: 12px;
  align-items: flex-start;

  & a {
    font-weight: 500;
    text-decoration: none;
    color: var(--text-highlight);
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 24px;
    height: 24px;
    background-image: url(../../assets/icons/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(../../assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(../../assets/icons/checkbox-selected.svg);
  }
}
